*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  background:rgb(245, 245, 245);
}

body {
  --app-width: 42rem;

  max-width: var(--app-width);
  margin: 0 auto;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.main-image {
  width: 100%;
}

.install-button {
  position: absolute;
  bottom: 26.8rem;
  left: 50%;
  transform: translateX(-50%);
}
